@media screen and (max-width: 580px) {
  .container .choices .choice {
    width: 100px;
    height: 100px;
  }
  .container .choices .choice img {
    width: 100px;
    height: 100px;
  }
  .header p {
    font-size: 1.5em;
  }
  .container .result p {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 425px) {
  .container .choices .choice {
    width: 80px;
    height: 80px;
    margin: 1.5em;
  }
  .container .choices .choice img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 413px) {
  .container .result p {
    font-size: 1.4em;
  }
  .header p {
    font-size: 1.4em;
  }
  .header {
    padding: 1em 0.5em;
  }
}
@media screen and (max-width: 375px) {
  .container .score-board .score p {
    font-size: 1em;
  }
  .container .choices .choice {
    margin: 1em;
  }
  .container .result p {
    font-size: 1.2em;
  }
  .header p {
    font-size: 1.2em;
  }
}
